<!DOCTYPE html>
<html lang="zh">
<head>
  <title>Color Table</title>
  <meta charset="UTF-8">
  <style>
    div {
      font-family: 'Fira Code', sans-serif;
      display: flex;
      align-items: center;
      margin-bottom: 0.25em;
    }
    span {
      margin-left: 1em;
    }
  </style>
</head>
<body>
<h1>Color Table</h1>
<%_ for (const [groupName, groupObjects] of Object.entries(colorTable)) { _%>
  <h2><%= groupName.toUpperCase() %></h2>
  <%_ for (const item of Object.values(groupObjects)) { _%>
    <div>
      <svg width="20" height="20">
        <rect x="0" y="0" width="20" height="20" fill="#<%= item.color.hex %>" stroke="black" stroke-width="1"/>
      </svg>
      <span>
        #<%= item.color.hex %>,
        HSV(<%= item.color.hsv %>),
        RGB(<%= item.color.rgb %>),
      </span>
      <span>
        Aliases: [<%= item.aliases %>]
      </span>
    </div>
  <%_ } _%>
<%_ } _%>
</body>
</html>
