<!DOCTYPE html>
<html lang="zh">
<head>
  <title>Preview Custom FG and BG</title>
  <meta charset="UTF-8">
  <style>
    p {
      font-family: 'Fira Code', sans-serif;
      margin: 0;
      padding: 0.5em;
    }
  </style>
</head>
<body>
<h1>Preview Custom FG and BG</h1>
<div style="color: #<%= fgColor.hex %>; background-color: #<%= bgColor.hex %>">
  <p>FG: #<%= fgColor.hex%>, HSV(<%= fgColor.hsv %>), RGB: (<%= fgColor.rgb %>)</p>
  <p>BG: #<%= bgColor.hex%>, HSV(<%= bgColor.hsv %>), RGB: (<%= bgColor.rgb %>)</p>
  <p>Contrast Ratio: <%= fgColor.contrastRatio(bgColor) %></p>
</div>
</body>
</html>
