<!DOCTYPE html>
<html lang="zh">
<head>
  <title>Preview Gutters</title>
  <meta charset="UTF-8">
  <style>
    div {
      font-family: 'Fira Code', sans-serif;
      color: #<%= defaultFg.hex %>;
      background-color: #<%= defaultBg.hex %>;
      display: flex;
      align-items: center;
    }
  </style>
</head>
<body>
<h1>Preview Gutters</h1>
<%_ for (const item of gutters) { _%>
  <%_ const color = item.color; _%>
  <div>
    <svg width="20" height="60">
      <rect x="0" y="15" width="4" height="30" fill="#<%= color.hex %>"/>
    </svg>
    <span>
      #<%= color.hex %>
      HSV(<%= color.hsv %>)
      RGB(<%= color.rgb %>)
      Contrast Ratio(<%= color.contrastRatio(defaultBg) %>)
    </span>
  </div>
<%_ } _%>
</body>
</html>
